# Neon Serverless PostgreSQL Connection Strings
DATABASE_URL="postgresql://user:password@ep-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://user:password@ep-direct.us-east-2.aws.neon.tech/neondb?sslmode=require"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="super-secret-random-32-character-key-here"
AUTH_SECRET="super-secret-random-32-character-key-here"

# Python CP-SAT Scheduler Engine URL
SCHEDULER_ENGINE_URL="http://localhost:8000"
