# Neon Serverless PostgreSQL Connection Strings
# Use Pooled connection string for DATABASE_URL (for web requests)
DATABASE_URL="postgresql://user:password@ep-sample-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&pgbouncer=true"
# Use Direct connection string for DIRECT_URL (for Prisma migrations)
DIRECT_URL="postgresql://user:password@ep-sample.us-east-2.aws.neon.tech/neondb?sslmode=require"
# Auth.js / NextAuth Secrets
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="super-secret-random-32-character-key-here"
